@page

<h2>Stock Prices Table</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Company Name</th>
            <th>Stock Price</th>
        </tr>
    </thead>
    <tr>
        <td>NFLX</td>
        <td>Netflix</td>
        <td>712.78 $</td>
    </tr>
    <tr>
        <td>META</td>
        <td>Meta</td>
        <td>573.22 $</td>
    </tr>
    <tr>
        <td>MSFT</td>
        <td>Microsoft</td>
        <td>418.42 $</td>
    </tr>
    <tr>
        <td>V</td>
        <td>Visa Inc</td>
        <td>276.28 $</td>
    </tr>
    <tr>
        <td>TSLA</td>
        <td>Tesla</td>
        <td>249.18 $</td>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>Apple</td>
        <td>226.98 $</td>
    </tr>
    <tr>
        <td>AMZN</td>
        <td>Amazon</td>
        <td>185.38 $</td>
    </tr>
    <tr>
        <td>NVDA</td>
        <td>Nvidia Corp</td>
        <td>118.68 $</td>
    </tr>
    <tr>
        <td>BABA</td>
        <td>Alibaba</td>
        <td>114.32 $</td>
    </tr>
    <tr>
        <td>NKE</td>
        <td>Nike</td>
        <td>83.07 $</td>
    </tr>
    <tr>
        <td>PYPL</td>
        <td>PayPal Holdings Inc</td>
        <td>77.23 $</td>
    </tr>
    <tr>
        <td>PFE</td>
        <td>Pfizer Inc</td>
        <td>28.60 $</td>
    </tr>
    <tr>
        <td>INTC</td>
        <td>Intel</td>
        <td>22.45 $</td>
    </tr>
    <tr>
        <td>F</td>
        <td>Ford</td>
        <td>10.48 $</td>
    </tr>
    <tr>
        <td>NIO</td>
        <td>Nio Inc</td>
        <td>7.14 $</td>
    </tr>
</table>