@page

<h2>Stock Prices Table</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Company Name</th>
            <th>Stock Price</th>
        </tr>
    </thead>
    <tr>
        <td>MSFT</td>
        <td>Microsoft</td>
        <td>418.42 $</td>
    </tr>
    <tr>
        <td>APPL</td>
        <td>Apple</td>
        <td>226.98 $</td>
    </tr>
    <tr>
        <td>AMZN</td>
        <td>Amazon</td>
        <td>185.38 $</td>
    </tr>
    <tr>
        <td>NVDA</td>
        <td>Nvidia Corp</td>
        <td>118.68 $</td>
    </tr>
    <tr>
        <td>INTC</td>
        <td>Intel</td>
        <td>22.45 $</td>
    </tr>
</table>