@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finance Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Finance Platform</h1>
        <p>The Finance platform helps investors by providing stock market data from different API's in a user-friendly interface.</p>
    </div>
    <img class="semi-transparent" width="830" src="https://cdn.pixabay.com/photo/2022/03/09/03/47/finance-7056936_960_720.png">
    <style>
        .semi-transparent {
          opacity: 0.5;
        }
    </style>
</body>
</html>